body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #f2f2f2;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.container {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    background: #fff;
}

.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.topbar img{
    padding: 0.8rem;
    cursor: pointer;
}

.topbar span {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}

.searchform {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 2.3rem;
    background: #e3e4e6;
    color: #bdbdbd;
    border-radius: 1rem;
    margin-right: 1rem;
}

.searchform img {
    width: 1.8rem;
    height: 1.8rem;
    padding: 0;
    padding-left: 0.6rem;
}

.searchform input {
    border: none;
    outline: none;
    width: 85%;
    height: 1.75rem;
    font-size: 1rem;
    margin-left: 0.5rem;
    color: #333;
    background: #e3e4e6;
}

.null {
    width: 4rem;
}

.card {
    position: relative;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0.1rem;
    border-left-width: 0;
    border-color: #e6e6e6;
    border-style: solid;
    padding: 1rem;
    cursor: pointer;
}

.userinfo {
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    width: 100%;
    cursor: auto;
}

.avatar img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.user {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
}

.name {
    display: flex;
    flex-direction: row;
    padding-top: 0.5rem;
    align-items: center;
}

.name span {
    font-size: 1.6rem;
    color: #333;
}

.name img {
    width: 1.75rem;
    height: 1.75rem;
}

.createtime {
    padding-left: 1rem;
    font-size: 1rem;
    color: #999;
}

.bio {
    padding-top: 0.8rem;
}

.bio span {
    font-size: 1rem;
    color: #999;
}

.weiboinfo {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.weiboitem {
    flex: 1; 
    span-align: center;
    padding: 10px; 
    color: #333;
    margin: 0 10px; 
}

.weibotopbar span {
    font-size: 1rem;
    color: #999;
}

.weiboheader {
    display: flex;
    justify-content: space-between; /* 将子元素分布在两端 */
    align-items: center; /* 垂直居中 */
    padding: 0.5rem;
}

.writer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.writeravatar img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.writeruser {
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
}

.writername {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.writername span {
    font-size: 1.1rem;
    color: #333;
}

.views {
    display: flex;
    border-radius: 0.25rem;
    span-align: center;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 2rem;
    box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2); /* 阴影效果 */
}

.views span {
    font-size: 0.9rem;
    color: #999
}

.weibocontent {
    margin-top: 0.5rem;
    cursor: auto;
}

.weibocontent span {
    font-size: 1.25rem;
    color: #333;
}

.weibopics {
    width: 25rem;
}

.weibopics ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
}
.weibopics li {
    width: 31%; /* 每行显示3张图片，留一点间隙 */
    aspect-ratio: 1 / 1; /* 将 li 设置为正方形 */
    overflow: hidden; /* 隐藏超出部分 */
    position: relative;
    padding: 0 .35rem .35rem 0;
}
.weibopics img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 保持图片比例并填充整个容器 */
    object-position: center; /* 截取正中间部分 */
    display: block;
}

.weibovideo {
    position: relative; /* 使子元素可以相对于这个容器定位 */
    display: inline-block; /* 确保只有内容宽度，而不是100%宽度 */
}


.weibovideo video {
    padding-top: 1rem;
    width: 20rem;
    height: auto;
}

.video-play-count {
    position: absolute; /* 绝对定位 */
    top: 1.5rem; /* 距离顶部的距离 */
    right: 0.5rem; /* 距离右侧的距离 */
    background-color: rgba(0, 0, 0, 0.5); /* 半透明背景色 */
    color: white; /* 文字颜色 */
    padding: 0.3rem; /* 内边距 */
    border-radius: 0.3rem; /* 圆角 */
    font-size: 0.875rem; /* 根据实际情况调整文字大小 */
}

.weibofooter {
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-top: 1.2rem;
}

.footeritem {
    display: flex;
    align-items: center;
}

.footeritem img {
    margin-right: 0.2rem;
}

.footeritem span {
    margin-right: 2rem;
    color: #a5aeb5;
}

.footeritem.active {
    position: relative; /* 为伪元素定位 */
    
}

.footeritem.active span {
    color: #697480;
}

.footeritem.active::after {
    content: '';
    display: block;
    width: 20%; /* 下划线长度 */
    height: 0.1rem; /* 下划线厚度 */
    background-color: #697480; /* 下划线颜色 */
    position: absolute;
    bottom: -0.5rem; /* 调整下划线位置，负值表示向下移动 */
    left: 50%; /* 水平居中 */
    transform: translateX(-50%); 
}

.contentitem {
    display: flex;
    flex-direction: row;
}

.contentavatar {
    margin-right: 0.7rem;
}

.contentavatar img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.contentuser {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contentuser span {
    font-size: 1.1rem;
    color: #333;
}

.content {
    width: 100%;
}

.contentspan {
    margin-top: 0.5rem;
    cursor: auto;
}

.contentspan span {
    font-size: 1.25rem;
    color: #333;
}

.contentreply {
    margin-top: 0.5rem;
    padding: 0.8rem;
    background: #f7f7f7;
    cursor: auto;
}

.contentreply span {
    font-size: 1.1rem;
    color: #333;
}

.replymore {
    margin-top: 0.5rem;
}

.replymore span {
    color: #507daf;
}

.origin span {
    font-size: 0.9rem;
    color: #999;
}

.contentfoot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.7rem;
}

.contentfoot span {
    font-size: 0.9rem;
    color: #999;
}

.contentfoot img {
    width: 1.1rem;
    height: 1.1rem;
}

.contentlike {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contentlike span {
    margin: 0.2rem;
}

.showall {
  height: 1rem;
  color: #636363;
  font-size: 1.1rem;
  text-align: center;
  cursor: pointer;
}

#fullscreen-container {
    display: none; /* 默认隐藏 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); /* 半透明黑色背景 */
    z-index: 1000; /* 确保在最上层 */
    span-align: center;
    cursor: pointer; /* 点击关闭 */
}

/* 全屏图片样式 */
#fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    color: #507daf;
    text-decoration: none;
}

/* 覆盖.surl-text类的样式以确保链接文本按照期望显示 */
a .surl-text {
    font-size: inherit; /* 或者指定你想要的尺寸 */
    color: inherit; /* 使用父元素的颜色 */
}

.relpyitem .originspan{
    font-size: 0.9rem;
    color: #999;
}
