<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <title>{{ user['nickname'] }}的微博</title>
    <link rel="stylesheet" href="/templates/style.css">
</head>

<body>
    <div class="container">
        <div class="topbar">
            <img src="/templates/img/left.png" onclick="history.back()">
            <text>微博正文</text>
            <div class="null"></div>
        </div>
        <div id="weibo-list">
            <div class="card">
                <div class="weiboheader">
                    <div class="writer">
                        <div class="writeravatar">
                            <img src="{{ weibo['user_avatar'] }}">
                        </div>
                        <div class="writeruser">
                            <div class="writername">
                                <text>{{ weibo['user_name'] }}</text>
                            </div>
                            <div class="origin">
                                <text>{{ weibo['created_at'] }} 来自 {{ weibo['source'] }}</text>
                            </div>
                        </div>
                    </div>
                    <div class="views">
                        <text>阅读</text>
                    </div>
                </div>
                <div class="weibocontent">
                    <text>{{ weibo['content'] | safe }}</text>
                </div>
                <div class="weibofooter">
                    <div class="footeritem" data-action="repost">
                        <img src="/templates/img/repost.png">
                        <text>转发{{ weibo['repost_count'] }}</text>
                    </div>
                    <div class="footeritem" data-action="comment">
                        <img src="/templates/img/comment.png">
                        <text>评论{{ weibo['comment_count'] }}</text>
                    </div>
                    <div class="footeritem" data-action="good">
                        <img src="/templates/img/good.png">
                        <text>点赞{{ weibo['like_count'] }}</text>
                    </div>
                </div>
            </div>
        </div>
        <div id="repost-container" style="display: none">
            {% for repost in reposts %}
            <div class="card">
                <div class="contentitem">
                    <div class="contentavatar">
                        <img src="{{ repost['user_avatar'] }}">
                    </div>
                    <div class="content">
                        <div class="contentuser">
                            <text>{{ repost['user_name'] }}</text>
                        </div>
                        <div class="contenttext">
                            <text>{{ repost['content'] | safe }}</text>
                        </div>
                        <div class="contentfoot">
                            <div class="contenttime">
                                <text>{{ repost['created_at'] }}</text>
                            </div>
                            <div class="contentlike">
                                <img src="/img/good.png">
                                <text>{{ repost['like_count'] }}</text>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="comment-container" style="display: block">
            {% for comment in comments %}
            <div class="card">
                <div class="contentitem">
                    <div class="contentavatar">
                        <img src="{{ comment['user_avatar'] }}">
                    </div>
                    <div class="content">
                        <div class="contentuser">
                            <text>{{ comment['user_name'] }}</text>
                        </div>
                        <div class="contenttext">
                            <text>{{ comment['content'] | safe }}</text>
                        </div>
                        {% if comment['reply'] %}
                        <div class="contentreply">
                            {% for reply in comment['reply'] %}
                            <div class="relpyitem">
                                <text>{{ reply['user_name'] }}:{{ reply['content'] | safe }}</text>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="contentfoot">
                            <div class="contenttime">
                                <text>{{ comment['created_at'] }}</text>
                            </div>
                            <div class="contentlike">
                                <img src="/templates/img/good.png">
                                <text>{{ comment['like_count'] }}</text>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="like-container" style="display: none">
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const tabDivs = document.querySelectorAll('.footeritem');
            const repostContainer = document.getElementById('repost-container');
            const commentContainer = document.getElementById('comment-container');
            const likeContainer = document.getElementById('like-container');

            // 初始化第一个标签为选中状态
            tabDivs[1].classList.add('active');

            tabDivs.forEach(tab => {
                tab.addEventListener('click', function() {
                    tabDivs.forEach(tab => tab.classList.remove('active'));
                    this.classList.add('active');
                    repostContainer.style.display = 'none';
                    commentContainer.style.display = 'none';
                    likeContainer.style.display = 'none';
                    const tabAction = this.getAttribute('data-action');
                    if(tabAction == 'repost'){
                        repostContainer.style.display = 'block';
                    }else if(tabAction == 'comment'){
                        commentContainer.style.display = 'block';
                    }else if(tabAction == 'like'){
                        likeContainer.style.display = 'block';
                    }
                });
            });
        });
    </script>
</body>

</html>