<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <title>{{ user['nickname'] }}的微博</title>
    <link rel="stylesheet" href="/templates/style.css">
</head>

<body>
    <div class="container">
        <div class="topbar">
            <img src="/templates/img/left.png" onclick="history.back()">
            <span>微博正文</span>
            <div class="null"></div>
        </div>
        <div id="weibo-list">
            <div class="card">
                <div class="weiboheader">
                    <div class="writer">
                        <div class="writeravatar">
                            <img src="{{ weibo['user_avatar'] }}">
                        </div>
                        <div class="writeruser">
                            <div class="writername">
                                <span>{{ weibo['user_name'] }}</span>
                            </div>
                            <div class="origin">
                                <span>{{ weibo['created_at'] }}
                                    {% if weibo['region_name'] %}{{ weibo['region_name'] }}{% endif %}
                                    {% if weibo['source'] %}来自 {{ weibo['source'] }}{% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="views">
                        <span>{% if weibo['read_count'] %}{{ weibo['read_count'] }}{% endif %}阅读</span>
                    </div>
                </div>
                <div class="weibocontent">
                    <span>{{ weibo['content'] | safe }}</span>
                </div>
                {% if weibo['pics'] %}
                <div class = "weibopics" style="display: block;">
                    <ul>
                        {% for pic in weibo['pics'] %}
                        <li>
                            <img class="thumbnail" src="{{ pic }}">
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% if weibo['video'] %}
                <div class = "weibovideo">
                    <video controls>
                        <source src="{{ weibo['video'] }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <span class="video-play-count">
                        {% if weibo['play_count'] %}
                        {{ weibo['play_count'] }}
                        {% endif %}
                    </span>
                </div>
                {% endif %}
                {% if weibo['reposted_id'] %}
                <div class = "weiborepost" onclick="window.location.href='/weibo/{{ weibo['reposted_id'] }}'; event.stopPropagation();">
                    <div class="contentreply">
                        <div class="relpyitem">
                            <span>
                                <a href="https://m.weibo.cn/profile/{{ weibo['reposted']['user_id'] }}">@{{ weibo['reposted']['user_name'] }}: </a>
                                {{ weibo['reposted']['content'] | safe }}
                            </span>
                            {% if weibo['reposted']['pics'] %}
                            <div class = "weibopics" style="display: block;">
                                <ul>
                                    {% for pic in weibo['reposted']['pics'] %}
                                    <li>
                                        <img class="thumbnail" src="{{ pic }}">
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                            {% if weibo['reposted']['video'] %}
                            <div class = "weibovideo">
                                <video controls>
                                    <source src="{{ weibo['reposted']['video'] }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                                <span class="video-play-count">
                                    {% if weibo['play_count'] %}
                                    {{ weibo['reposted']['play_count'] }}
                                    {% endif %}
                                </span>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="weibofooter">
                    <div class="footeritem" data-action="repost">
                        <img src="/templates/img/repost.png">
                        <span>转发{{ weibo['repost_count'] }}</span>
                    </div>
                    <div class="footeritem" data-action="comment">
                        <img src="/templates/img/comment.png">
                        <span>评论{{ weibo['comment_count'] }}</span>
                    </div>
                    <div class="footeritem" data-action="like">
                        <img src="/templates/img/like.png">
                        <span>点赞{{ weibo['like_count'] }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="repost-container" style="display: none">
            {% for repost in reposts %}
            <div class="card">
                <div class="contentitem">
                    <div class="contentavatar">
                        <img src="{{ repost['user_avatar'] }}">
                    </div>
                    <div class="content">
                        <div class="contentuser">
                            <span>{{ repost['user_name'] }}</span>
                        </div>
                        <div class="contentspan">
                            <span>{{ repost['content'] | safe }}</span>
                        </div>
                        <div class="contentfoot">
                            <div class="contenttime">
                                <span>{{ repost['created_at'] }} {{ repost['region_name'] }} 来自 {{ repost['source'] }}</span>
                            </div>
                            <div class="contentlike">
                                <img src="/templates/img/like.png">
                                <span>{{ repost['like_count'] }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="comment-container" style="display: block">
            {% for comment in comments %}
            <div class="card">
                <div class="contentitem">
                    <div class="contentavatar">
                        <img src="{{ comment['user_avatar'] }}">
                    </div>
                    <div class="content">
                        <div class="contentuser">
                            <span>{{ comment['user_name'] }}</span>
                        </div>
                        <div class="contentspan">
                            <span>{{ comment['content'] | safe }}</span>
                        </div>
                        {% if comment['pic'] %}
                        <div class = "weibopics" style="display: block;">
                            <ul>
                                <li>
                                    <img class="thumbnail" src="{{ comment['pic'] }}">
                                </li>
                            </ul>
                        </div>
                        {% endif %}
                        {% if comment['reply'] %}
                        <div class="contentreply">
                            {% for reply in comment['reply'] %}
                            <div class="relpyitem">
                                <span>{{ reply['user_name'] }}:{{ reply['content'] | safe }}</span>
                                <span class="originspan">{{ reply['created_at'] }} {{ reply['source'] }}</span>
                            </div>
                                {% if reply['pic'] %}
                                reply的图片并没有保存在pic中，因此这个情况好像不会出现
                                <div class = "weibopics" style="display: block;">
                                    <ul>
                                        <li>
                                            <img class="thumbnail" src="{{ reply['pic'] }}">
                                        </li>
                                    </ul>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="contentfoot">
                            <div class="contenttime">
                                <span>{{ comment['created_at'] }} {% if comment['source'] %}{{ comment['source'] }}{% endif %}</span>
                            </div>
                            <div class="contentlike">
                                <img src="/templates/img/like.png">
                                <span>{% if comment['like_count'] %}{{ comment['like_count'] }}{% endif %}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="like-container" style="display: none">
            {% for like in likes %}
            <div class="card">
                <div class="contentitem">
                    <div class="contentavatar">
                        <img src="{{ like['user_avatar'] }}">
                    </div>
                    <div class="contentuser">
                        <span>{{ like['user_name'] }}</span>
                        <div class="origin">
                            <span>　{{ like['created_at'] }} {% if like['source'] %}来自 {{ like['source'] }}{% endif %}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="fullscreen-container">
        <img id="fullscreen-image" src="" alt="全屏图片">
    </div>
    <script>
        const tabDivs = document.querySelectorAll('.footeritem');
        const repostContainer = document.getElementById('repost-container');
        const commentContainer = document.getElementById('comment-container');
        const likeContainer = document.getElementById('like-container');
        document.addEventListener('DOMContentLoaded', function() {
            // 初始化第一个标签为选中状态
            tabDivs[1].classList.add('active');

            tabDivs.forEach(tab => {
                tab.addEventListener('click', function() {
                    tabDivs.forEach(tab => tab.classList.remove('active'));
                    this.classList.add('active');
                    repostContainer.style.display = 'none';
                    commentContainer.style.display = 'none';
                    likeContainer.style.display = 'none';
                    const tabAction = this.getAttribute('data-action');
                    if(tabAction == 'repost'){
                        repostContainer.style.display = 'block';
                    }else if(tabAction == 'comment'){
                        commentContainer.style.display = 'block';
                    }else if(tabAction == 'like'){
                        likeContainer.style.display = 'block';
                    }
                });
            });
        });

        document.addEventListener('click', function (event) {
            if (event.target.closest('#weibo-list .thumbnail')) {
                console.log(event);
                if (event.target.tagName === 'IMG') {
                    event.stopPropagation(); // 阻止事件冒泡
                    event.preventDefault();  // 阻止默认行为
                    fullscreenImage.src = event.target.src; // 设置大图的 src
                    fullscreenContainer.style.display = 'block'; // 显示全屏容器
                }
            }
        }, true);   // 这里如果不加参数true处理的优先级就不对，也可以把onclick改到这里绑定事件委托一并处理来解决

        // 获取元素用于全屏展示图片
        const fullscreenContainer = document.getElementById('fullscreen-container');
        const fullscreenImage = document.getElementById('fullscreen-image');
        // 点击全屏容器时隐藏全屏图片
        fullscreenContainer.addEventListener('click', function () {
            this.style.display = 'none'; // 隐藏全屏容器
        });
    </script>
</body>

</html>